:root {
  --primary-color: #ee8073;
  --secondary-color: #fef2f1;
  --accent-color: #f4f4f4;
  --font-color: #483d8b;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: var(--font-color);
  overflow-x: hidden;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  opacity: 0.7;
}
h4 {
  border: 1px solid var(--font-color);
  padding: 8px 14px;
  margin: 5px;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

h5 {
  color: var(--primary-color);
}

.intro {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 75px 20px;
  max-width: 100%;
}

.active {
  color: var(--primary-color) !important;
}

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--primary-color);
  display: block;
  border-radius: 4px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav li a {
  color: var(--primary-color);
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}

.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 30px 0 20px 20px;
}
#menu-bar {
  z-index: 2;
  background-color: var(--secondary-color);
  width: 100%;
}
.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background-color: var(--font-color);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

.profile-pic {
  border-radius: 50%;
  margin-top: 40px;
}

.project-infographics {
  width: 200px;
}
.contact-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 20px;
  line-height: 27px;
}

.about-me {
  padding: 160px 20px;
}

.projects {
  padding: 120px 20px;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
}

.card-text-apps {
  border: 1px solid var(--font-color);
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.shecodes-logo {
  width: 150px;
}
.harvard-logo {
  width: 100px;
}
.cardiff-logo {
  width: 70px;
}
p {
  line-height: 2;
}

footer {
  background-color: var(--primary-color);
  padding: 80px;
}

.vertical {
  border-left: 3px solid var(--font-color);
  height: 200px;
  position: absolute;
  left: 50%;
}
.header {
  padding: 140px;
  background-color: var(--secondary-color);
  text-align: left;
}

.project-h2 {
  font-weight: bold;
  font-size: 36px;
  color: var(--font-color);
  text-decoration: none;
}

.card-text-apps:hover {
  border: 1px dotted var(--primary-color);
  font-weight: bold;
}

.visit-website {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 10px 12px;
  margin-top: 50px;
  color: var(--font-color);
  transition: all 200 ease-in-out;
}

.visit-website:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.visit-github {
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 6px 12px;
  margin-top: 50px;
  color: var(--font-color);
  transition: all 200 ease-in-out;
  font-size: 20px;
}

.visit-github:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  color: var(--font-color);
}

.title-h2:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.contact {
  font-size: 50px;
  color: var(--font-color);
}

.contact:visited:hover {
  color: var(--primary-color);
}

.contact-button {
  color: var(--primary-color);
  border-radius: 20px;
}
.contact-button:hover {
  text-decoration: none;
  font-weight: bold;
}
.contact-button:visited:hover {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.contact-footer {
  font-size: 25px;
  margin: 10px;
  color: var(--font-color);
}
.contact-footer:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

.footer-link {
  color: var(--secondary-color);
}

.footer-link:hover {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

.content-container {
  padding: 100px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Project page*/

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3em;
  margin: auto;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 360px;
  margin: 1em;
  padding: 0.5em;
}

.card-image img {
  max-width: 200px;
  height: auto;
}

.card ul {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
}

.card ul li {
  padding: 0.5em;
}

.project_card_footer {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
}

@media (max-width: 960px) {
  .projects {
    padding: 0;
    text-align: center;
  }
  .about-me {
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  .intro {
    padding: 20px;
    text-align: center;
  }
  .header {
    padding: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    font-size: 12px;
  }
  .container {
    text-align: center;
  }
  .card-title {
    font-size: 30px;
  }
  .experience-title {
    font-size: 30px;
  }
  .fa-business-time {
    margin-top: 40px;
  }

  .cardiff-logo {
    margin-bottom: 20px;
  }
}
