:root {
  --primary-color: #ee8073;
  --secondary-color: #fef2f1;
  --accent-color: #f4f4f4;
  --font-color: #483d8b;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: var(--font-color);
}
.intro {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 40px;
  padding: 160px 20px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  opacity: 0.7;
}

img {
  border-radius: 50%;
  margin-top: 40px;
}
.contact-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 20px;
  line-height: 27px;
}
.about-me {
  padding: 160px 20px;
}

.projects {
  padding: 160px 20px;
}

p {
  line-height: 2;
}

.footer {
  background-color: #ee8073;
  padding: 80px;
}

.vertical {
  border-left: 3px solid var(--font-color);
  height: 200px;
  position: absolute;
  left: 50%;
}

@media (max-width: 960px) {
  .projects {
    padding: 0;
    text-align: center;
  }
  .about-me {
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  .intro {
    padding: 20px;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 12px;
  }
}
